/* Custom CSS, validated at: https://jigsaw.w3.org/css-validator/ */

body{
    font-family: Verdana;
    text-transform: uppercase;
    /* important to have the letters spaced to match the logo font */
    letter-spacing: 3px;
    text-align: center;
}
p{
    color: white;
    font-size: small;
    text-align: center; 
}

body{
    background-color: #1D1D1B;
}

main h2{
    color: #B45037;
}

footer{
    padding:50px;
}

main div.row{
    border: 1px solid white;
    }

main div.row div.col-4{
border: 1px solid white;
}